.MyProfile{
    background-color: #fff;
}

.editProfileForm
{
    border: 0.1rem solid rgba(0, 47, 52, .2);
    max-width: 80%;
    border-radius: 6px;
    padding: 1.6rem 2.4rem;
}

.saveChangesButton{
    color: white !important;
    background-color: #CD0000 !important;
    font-size: 1.1rem;
    font-weight: 700;
}

.saveChangesButton:hover {
background-color:#BA0000!important;
} 


.date {
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: #f8f8f8;  
    color: #CD0000;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s ease;
  }
  
  .date:focus {
    border-color:  #CD0000 
  }

.date::-webkit-calendar-picker-indicator {
    font-size: 0.8em;
    color: #CD0000 !important;
    cursor: pointer;
    
  }