.sellPage {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

.formGroup {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
  transition: color 0.3s ease; 
}

.inputField {
  width: 100%;
  padding: 10px;
  border: 2px solid #ccc; 
  border-radius: 5px;
  transition: border-color 0.3s ease; 
}

.inputField:focus {
  outline: none;
  border-color: #000;
  color: #000; 
}

.invalid {
  border-color: #e00000;
  color: #e00000; 
}

.invalid.inputField:focus {
  border-color: #e00000; 
}

.errorMessage {
  color: #e00000; 
}