/* .NavBar {
  background-color: #000;
} */

.btn:hover {
  background-color: #ba0000 !important;
}

.user {
  width: 30px;
  height: 30px;
  display: inline-block;
}

.formControl:focus {
  border-color: transparent;
  box-shadow: none;
}

.searchWrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
}

.searchIcon {
  position: absolute;
  right: 0;
  padding-right: 20px;
}
